Step 1 :Install PostgreSQL: First, you'll need to install PostgreSQL on your computer. You can download the installer from the official website and follow the installation instruction

Step 2 :Create a new database: Once PostgreSQL is installed, open pgAdmin, which is a graphical user interface for managing PostgreSQL databases. Right-click on the "Databases" option in the left sidebar and select "Create > Database". Give your database a name, such as "blog_db", and click "Save"

 STep 3:Install necessary packages: Install the necessary packages, including psycopg2 
(a Python library for working with PostgreSQL),
by running the following command in a code cell:

In [1]:
# !pip install psycopg2


Step 4: Connect to the database

In [2]:
import psycopg2

In [31]:
#creating a connection 
conn = psycopg2.connect(
    host="localhost",
    database="blog_db",
    user="postgres",
    password="karimi2018"
)

Step 5 :Create tables: Create two tables, one for storing blog posts and another for storing user information.

In [18]:
# cur=conn.cursor()
# cur.execute("""
# CREATE TABLE posts(
#     id SERIAL PRIMARY KEY,
#     title VARCHAR(255) NOT NULL,
#     Content TEXT NOT NULL,
#     created_at TIMESTAMP NOT NULL DEFAULT NOW(),
#   
# );
# """)

# conn.commit()


cur = conn.cursor()

cur.execute("""
CREATE TABLE posts1 (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255)  NOT NULL,
    content TEXT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT NOW()
   
);
""")

conn.commit()

In [22]:
# create the "users" table:

cur=conn.cursor()
cur.execute("""
CREATE TABLE Users(
    id SERIAL PRIMARY KEY,
    Username VARCHAR(50) UNIQUE NOT NULL,
    Email  VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL

);""")
conn.commit()

In [24]:
# Insert data: Insert some sample data into the "users" table 
cur= conn.cursor()
cur.execute("""
INSERT INTO Users(Username,Email,password) VALUES
    ('Kam','kam@gmnail.com','12345'),
    ('karimi' ,'karimi@1234.com', '45668'),
    ('denni','denni@gmailc,om','1234');
""")
conn.commit()

In [27]:
# Query data: Retrieve the data from the "users" table

cur =conn.cursor()
cur.execute('SELECT * FROM Users;')
rows=cur.fetchall()
for row in rows :

    print(row)

(1, 'Kam', 'kam@gmnail.com', '12345')
(2, 'karimi', 'karimi@1234.com', '45668')
(3, 'denni', 'denni@gmailc,om', '1234')

In [32]:
cur = conn.cursor()

cur.execute("""
INSERT INTO posts (title, content) VALUES
    ('My First Blog Post', 'This is my first blog post!');
""")

conn.commit()

In [33]:
cur = conn.cursor()

cur.execute("SELECT * FROM posts;")

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'My First Blog Post', 'This is my first blog post!', datetime.datetime(2023, 3, 19, 12, 48, 4, 612869))